<div class="jumbotron">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption text-center">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
<nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
</nav>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>


{{!-- main script --}}
<script src="../../assets/javascript/saved.js"></script>