#nav {
    height: 25px;
}

.jumbotron.text-center {
    background: linear-gradient(to bottom right,  rgba(146, 143, 144, 0.9) 30%, rgba(13, 26, 218, 0.9) 100%);
    font-family: 'Kanit', sans-serif;
}

.caption h1 {
    font-size: 50px;
}

.caption p {
    font-size: 30px;
}

#home {
    height: 5px;
    background-color: blue;
    border-radius: 8px;
    padding-top: 2px;
    margin-top: 20px;
}

#saved {
    height: 5px;
    background-color: blue;
    border-radius: 8px;
    padding-top: 2px;
    margin-top: 20px;
}

#scrape {
    height: 5px;
    border-radius: 8px;
    padding-top: 2px;
    margin-top: 20px;
}

.modal-body {
    position: relative;
    margin-top: 350px;
    height: 200px;
    width: 200px;
    color: black;
    background-color: white;
}

.bootbox-body {
    height: 25px;
    background-color: blue;
    border-radius: 8px;
    padding-top: 2px;
}