html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#nav {
    float: right;
}

#nav li{
    display: inline;
    padding: 5px;
}

#nav a:link {
    color: white;
}

#nav a:visited {
    color:white;
}

#nav a:hover {
    color: blue;
}

#nav a:active {
    color:white;
}

#home {
    height: 5px;
    padding-top: 2px;
    margin-top: 20px;
    text-decoration: none;
}

#saved {
    height: 5px;
    padding-top: 2px;
    margin-top: 20px;
    text-decoration: none;
}

#scrape {
    height: 5px;
    padding-top: 2px;
    margin-top: 20px;
}

.jumbotron {
    background: linear-gradient(to bottom right,  rgba(146, 143, 144, 0.9) 30%, rgba(13, 26, 218, 0.9) 100%);
    font-family: 'Kanit', sans-serif;
}

.caption h1 {
    font-size: 50px;
}

.caption p {
    font-size: 30px;
}


.modal-body {
    position: relative;
    margin-top: 350px;
    height: 200px;
    width: 200px;
    color: black;
    background-color: white;
}

.bootbox-body {
    height: 25px;
    background-color: blue;
    border-radius: 8px;
    padding-top: 2px;
}

#buttonsave {
    background-color: rgba(13, 26, 218, 0.9);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 8px;
}

#articleurl {
    font-size: 20px;
}

#articlesummary {
    margin-bottom: 25px;
}

.article-container {
    flex: 1 0 auto;
}

.bootbox-body {
    background-color: white;
}

.modal-body {
    font-size: 30px;
    margin: auto;
}

.footer {
    background: linear-gradient(to bottom right,  rgba(146, 143, 144, 0.9) 30%, rgba(13, 26, 218, 0.9) 100%);
    font-family: 'Kanit', sans-serif;
    text-align: center;
    height: 50px;
    flex-shrink: 0;
}